h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bellefair", serif;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

code {
  background-color: white;
  color: rgb(44, 5, 5);
}

hr {
  border-color: #003366;
  border-width: 3px;
}

img #headshot {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  width: 100%;
}

.center-object {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.gamelist {
  width: 15%;
  margin-left: 10px;
  padding: 1%;
}


#home {
  background-image: url("../images/lost-co-668059-unsplash.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

#links a {
  text-decoration: none;
}



